/* footer.css - Footer-Styles */


footer {
  margin: 0;
  padding: 0;
}

.footer {
  padding: 32px 160px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_logo img {
  bottom: 4px;
    height: 70px; 
}

.footer_logo {
  display: flex;
  align-items: center;
}

.footer_logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.social_logos {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  object-fit: cover;
}

.social_logos a {
  margin-left: 16px;
}

.social_logos img {
  width: 28px; 
  height: 28px;
  width: auto;
}

.Kochwelt_h3_footer_control h3 {
  color: white;
  margin-left: 10px;
  font-weight: 300;
  font-size: 40px;
  font-family: Raleway;
}