.croissants {
  display: flex;
  flex-direction: row;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-right: 160px;
  padding-left: 160px;
}
#start {
  color: green;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
}
.croissant_control {
  display: flex;
}

.croissants img {
  height: 250px;
  width: 375px;
  border-radius: 12px;
}
.recipes {
  width: 100%;
}
.recipe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 8px;
  padding-bottom: 16px;
}

.recipe_description {
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}

.description {
  padding-top: 12px;
}

.button {
  background-color: green;
  color: white;
  font-size: 24px;
  font-weight: 100;
  border: none;
  border-radius: 8px;
  height: 50px;
  width: 270px;
  cursor: pointer;
}

.button:hover {
  background-color: darkgreen;
  font-weight: bold;
}

.lust_auf_was_neues {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
  padding-bottom: 32px;
}

.lust_auf_was_neues h2 {
  text-align: center;
  padding-top: 32px;
  margin-bottom: 32px;
}

.lust_auf_was_neues img {
  height: 200px;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 8px;
}

.link {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 16px;
}

.lust_control {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 64px;
  padding-left: 160px;
  padding-right: 160px;
}

.pfanne_wok {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 160px;
  padding-right: 160px;
  margin-top: 32px;
  margin-bottom: 96px;
}

.pfanne_wok h2 {
  margin-bottom: 32px;
}

.pan_wok {
  display: flex;
  flex-direction: row-reverse;
  gap: 32px;
}

.wok {
  height: 200px;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  object-fit: cover; 
}

/* responsive anpassung */
@media(max-width: 1000px) {
  .croissant_control{
    flex-direction: column;
    align-items: center;
  }
  .img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .croissants {
    padding-bottom: 32px;
  }
  .croissants img {
    height: 200px;
    border-radius: 12px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    width: 100%;
    margin-bottom: 32px;
  }
  .button {
    width: 200px;
  }
  .lust_control{
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
  }

  .lust_control img {
    margin-top: 32px;
  }

  .lust_auf_was_neues h2 {
    margin-bottom: 0;
  }
  .recipe_description {
    align-items: center;
    padding-left: 0;
  }
  .recipe{
    align-items: center;
    padding-top: 0px;
  }
  .pfanne_wok {
    margin-bottom: 64px;
  }
  .pan_wok {
      display: flex;
      flex-direction: column;
  }
  .Pfanne_vs_Wok {
      display: flex;
      justify-content: center;
  }
  .Pfanne_vs_Wok img{
      height: 200px;
      border-radius: 12px;
      object-fit: cover;
      aspect-ratio: 1 / 1;
      width: 100%;
      margin-bottom: 32px;
  }

}
@media(max-width:750px) {
  h2 {
    font-size: 20px;
    text-align: center;
  }
  .croissants {
    padding-left: 24px;
    padding-right: 24px;
  } 
  .description {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .lust_control {
    padding-left: 24px;
    padding-right: 24px;
  }
  .pfanne_wok{
    padding-left: 24px;
    padding-right: 24px;
  }
  .pan_wok {
    display: flex;
    flex-direction: column;
  
  }
  .Pfanne_vs_Wok {
      display: flex;
      justify-content: center;
  }
  .Pfanne_vs_Wok img{
      height: 200px;
      border-radius: 12px;
      object-fit: cover;
      aspect-ratio: 1 / 1;
      width: 100%;
  }
}


