* {
    margin: 0;
    padding: 0;
    position: relative;  
}
body {
    font-family: Raleway;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 160px;
    padding-right:  160px;
    padding-top: 32px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
.navbar {
    position: absolute;
    right: 160px;
    top: 93px;
}
.navbar a {
    text-decoration: none;
    color: black;
    padding-right: 24px;
    font-size: 24px;
    font-weight: 500;
}
.navbar a#nopadding {
    padding: 0;
}
.navbar a:hover {
    color: green;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px
}
.Kochwelt_icon img {
    height: 95px; 
}

/*Footer*/
.footer {
    padding-left: 160px;
    padding-right: 160px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social_logos img {
    width: 64px;
    padding-left: 24px;
}
.social_logos a {
    text-decoration: none;
}




/*Kontaktformular*/
.controller-fr {
    display: flex;
    justify-content: center;
    padding-top: 72px;
}

.kontaktformular h2 {
    display: flex;
    justify-content: left;

}

.kontaktformular {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-bottom: 160px;

}

.kontaktformular h2 {
    display: flex;
    text-align: center;
    margin-bottom: 20px;
    flex-direction: row;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.kontaktformular label {
    display: block;
    margin-bottom: 5px;

}

.kontaktformular input,
.kontaktformular textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: vertical;
}

.kontaktformular button {
    
    width: 120px;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.kontaktformular button:hover {
    background-color: rgb(17, 119, 17);
}