/*Kontaktformular*/
.controller-fr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    padding-left: 12px;
    padding-right: 12px;
}

.kontaktformular h2 {
    display: flex;
    justify-content: left;

}

.kontaktformular {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-bottom: 160px;

}

.kontaktformular h2 {
    display: flex;
    text-align: center;
    margin-bottom: 20px;
    flex-direction: row;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.kontaktformular label {
    display: block;
    margin-bottom: 5px;

}

.kontaktformular input,
.kontaktformular textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: vertical;
}

.kontaktformular button {
    
    width: 120px;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.kontaktformular button:hover {
    background-color: rgb(17, 119, 17);
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

@media(max-width: 500px) {
    .kontaktformular h2 {
        font-size: 16px;
    }
    .kontaktformular input{
        padding: 20px;
    }

    
}
