* {
    margin: 0;
    padding: 0;
    position: relative;  
}
body {

    font-family: Raleway;
}
/*Header*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 160px;
    padding-right:  160px;
    padding-top: 32px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
.navbar {
    position: absolute;
    right: 160px;
    top: 93px;
}
.navbar a {
    text-decoration: none;
    color: black;
    padding-right: 24px;
    font-size: 24px;
    font-weight: 500;
}
.navbar a#nopadding {
    padding: 0;
}
.navbar a:hover {
    color: green;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px
}
.Kochwelt_icon {
    
}
.Kochwelt_icon img {
    height: 95px; 
}


/*Main*/

h2 {
    margin: 0;
    font-weight: 600;
}
.croissants {
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 64px;
    max-height: 254px;
    padding-right: 160px;
    padding-left: 160px;
}
.croissant_control {
    display: flex;
    
}
.croissants img {
    height: 250px;
    border-radius: 12px;
}
.recipe  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 120px;
}
.recipe_description {
    padding-left: 32px;
}

.description {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.btn_control {
    position: absolute;
    margin-top: 150px;
}
.button {
    background-color: green;
    color: white;
    font-size: 24px;
    font-weight: 100;
    border: none;
    height: 50px;
    width: 270px;
}
.description button {
    
}

.lust_auf_was_neues {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    width: 100%;
}
.lust_auf_was_neues h2 {
    text-align: center;
    padding-top: 32px;
}
.lust_auf_was_neues img {
    height: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    object-fit: cover;
    margin-bottom: 8px;
}
.link {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
}
.lust_control {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 64px;

}

.pfanne_wok {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 160px;
    padding-right: 160px;
    margin-top: 64px;
    margin-bottom: 64px;
}
.pan_wok {
    display: flex;
    flex-direction: row-reverse
}
.pfanne_vs._wok h2 {

}
.wok {
   height: 200px;
   aspect-ratio: 1 / 1;
   border-radius: 12px;
   object-fit: cover; 
}

/*Footer*/
.footer {
    padding-left: 160px;
    padding-right: 160px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social_logos img {
    width: 64px;
    padding-left: 24px;
}