<!-- Footer-Bereich mit responsivem Verhalten -->
<footer class="footer-control">
  <div class="footer">
    <div class="footer_logo">
      <a href="./footer.html">
        <img src="../../img/logo_small_white.png" alt="Kochwelt Startseiten verlinkung" />
        <div class="Kochwelt_h3_footer_control">
          <h3>Kochwelt</h3>
        </div>
      </a>
    </div>
    <div class="social_logos">
      <a href="https://www.facebook.com">
        <img class="social" src="../../img/Facebook.png" alt="Facebook" />
      </a>
      <a href="https://www.instagram.com">
        <img class="social" src="../../img/ins.png" alt="Instagram" />
      </a>
      <a href="https://x.com/">
        <img class="social" src="../../img/twitter.png" alt="Twitter" />
      </a>
    </div>
  </div>
</footer>