/* components/footer.html */
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../css/footer.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <div class="footer">
        <div class="footer_logo">
            <a href="../../components/main.html">
                <img src="../img/logo.png" alt="Startseite" />
            </a>
        </div>
        <div class="social_logos">
            <a href="https://www.facebook.com">
                <img class="social" src="../img/Facebook.png" alt="Facebook" />
            </a>
            <a href="https://www.instagram.com">
                <img class="social" src="../img/ins.png" alt="Instagram" />
            </a>
            <a href="https://x.com/">
                <img class="social" src="../img/twitter.png" alt="Twitter" />
            </a>
        </div>
    </div>
</body>
</html>