<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kochwelt</title>
  <link rel="stylesheet" href="path/to/style.css">
  <link rel="stylesheet" href="path/to/footer.css">
</head>
<body>
  <!-- Header-Bereich -->
  <header>
    <!-- Hier kommt der Header-Inhalt -->
  </header>

  <!-- Hauptinhalt -->
  <main>
    <!-- Hier kommt der Hauptinhalt deiner Seite -->
    <div class="content-placeholder">
      <h2>Hauptinhalt</h2>
      <p>Hier steht der Inhalt deiner Seite.</p>
    </div>
  </main>

  <!-- Footer-Bereich mit responsivem Verhalten -->
  <footer>
    <div class="footer">
      <div class="footer_logo">
        <a href="./footer.html">
          <img src="../../img/logo_small_white.png" alt="Kochwelt Startseiten verlinkung" />
          <div class="Kochwelt_h3_footer_control">
            <h3>Kochwelt</h3>
          </div>
        </a>
      </div>
      <div class="social_logos">
        <a href="https://www.facebook.com">
          <img class="social" src="../../img/Facebook.png" alt="Facebook" />
        </a>
        <a href="https://www.instagram.com">
          <img class="social" src="../../img/ins.png" alt="Instagram" />
        </a>
        <a href="https://x.com/">
          <img class="social" src="../../img/twitter.png" alt="Twitter" />
        </a>
      </div>
    </div>
  </footer>
</body>
</html>