<!-- Empfohlene components/header.html für die iframe-Lösung -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Pfad zur header.css muss korrekt sein - relativ zum Speicherort dieser Datei -->
    <link rel="stylesheet" type="text/css" href="../css/header.css" />
    <!-- Schriftarten - müssen in jeder Komponente eingebunden werden -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <div class="header">
        <div class="Kochwelt_icon">
            <a href="../index.html" target="_parent"> <!-- target="_parent" sorgt dafür, dass Links im Hauptfenster geöffnet werden -->
                <img src="../img/logo.png" alt="Startseite" />
            </a>
        </div>
        <div class="navbar">
            <a href="../index.html" target="_parent">Start</a>
            <a href="../rezepte.html" target="_parent">Rezept des Tages</a>
            <a href="../kontakt.html" target="_parent">Kontakt</a>
            <a id="nopadding" href="../impressum.html" target="_parent">Impressum</a>
        </div>
    </div>
</body>
</html>

<!-- Anmerkung: Ähnliche Änderungen sollten auch an main.html und footer.html vorgenommen werden:
1. target="_parent" zu allen Links hinzufügen
2. Sicherstellen, dass die Pfade relativ zum Speicherort der Komponenten-Dateien sind (../img/, ../css/, etc.)
3. Meta-Tags und Schriftarten in jeder Komponente einbinden
-->