<!-- Header-Bereich mit verbessertem kompaktem Menü -->
<header>
  <div class="header-control">
    <div class="header">
      <div class="Kochwelt_icon">
        <a href="../../components/main.html">
          <img src="../../img/logo_small.png" alt="Startseite" />
        </a>
      </div>
      
      <!-- Desktop-Navbar (wird ab 1280px ausgeblendet) -->
      <div class="navbar">
        <a href="../../components/main.html">Start</a>
        <a href="../../rezepte.html">Rezept des Tages</a>
        <a href="../../kontakt.html">Kontakt</a>
        <a id="nopadding" href="../../Impressum/impressum.html">Impressum</a>
      </div>
      
      <!-- Kompaktes Menü für Bildschirme unter 1280px - verbessert mit Klick-Funktion -->
      <div class="menu-container">
        <button class="menu-toggle" aria-label="Menü öffnen">
          <span class="menu-icon"></span>
        </button>
        <div class="compact-navbar">
          <a href="../../components/main.html">Start</a>
          <a href="../../rezepte.html">Rezept des Tages</a>
          <a href="../../kontakt.html">Kontakt</a>
          <a href="../../Impressum/impressum.html">Impressum</a>
        </div>
      </div>
    </div>
  </div>
</header>