<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kochwelt - Hauptinhalt</title>
    
    <!-- Alle benötigten Styles einbinden -->
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/header.css" />
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link rel="stylesheet" type="text/css" href="../css/footer.css" />
    
    <!-- Schriftarten -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <!-- Header-Bereich mit aktualisierten Funktionen -->
    <header>
      <div class="header-control">
        <div class="header">
          <div class="Kochwelt_icon">
            <a href="./main.html">
              <img src="../img/logo_small.png" alt="Startseite" />
              <div class="Kochwelt_h3_header_control">
                <h3>Kochwelt</h3>
              </div>
            </a>
          </div>
          <div class="navbar">
            <a href="./main.html" id="start">Start</a>
            <a href="../recips/html/falk_recipe.html">Rezept des Tages</a>
            <a href="../kontakt.html">Kontakt</a>
            <a id="nopadding" href="../Impressum/impressum.html">Impressum</a>
          </div>
          
          <!-- Kompaktes Menü für Bildschirme unter 1280px -->
          <div class="menu-container">
            <button class="menu-toggle" aria-label="Menü öffnen">
              <span class="menu-icon"></span>
            </button>
            <div class="compact-navbar">
              <a href="./main.html">Start</a>
              <a href="../recips/html/falk_recipe.html">Rezept des Tages</a>
              <a href="../kontakt.html">Kontakt</a>
              <a href="../Impressum/impressum.html">Impressum</a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Hauptinhalt -->
    <main>
        <section class="croissants">
            <div class="croissant_control"> 
                <div class="img">
                    <img src="../img/noodle.jpg" alt="Croissant_Bild" />
                </div>
                <div class="recipe_description">
                    <h2>Französische Croissants</h2>
                    <div class="recipe">
                        <div class="description">
                            <p>
                                Schmackhafte Croissants können auch zu Hause sehr einfach gebacken
                                werden. mit ca. 30 Minuten Aufwand kannst du ein wundervolles
                                Frühstück zaubern.
                            </p>
                        </div>
                        <div class="btn_control">
                          <a href="../recips/html/falk_recipe.html">
                            <button class="button">Rezept öffnen</button>
                          </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="lust_auf_was_neues">
            <div class="recipes">
                <h2>Lust auf was Neues?</h2>
                <div class="lust_container">
                    <div class="lust_control">
                        <a class="link" href="../recips/html/falk_recipe.html">
                            <img src="../img/noodle.jpg" alt="Nudel-Bild" />
                            Gebratene Nudeln
                        </a>
                        <a class="link" href="../recips/html/chris_recipe.html">
                            <img src="../img/pennetomtaten.jpg" alt="Penne-Bild" />
                            Penne ál pomodoro
                        </a>
                        <a class="link" href="../recips/html/phil_recipe.html">
                            <img src="../img/chili-chicken.jpg" alt="Chili-Chicken Bild" />
                            Chili-Hühnchen mit Erdnüssen
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="pfanne_wok">
                <h2>Pfanne vs. Wok - Was ist besser?</h2>
                <div class="pan_wok">
                    <div class="Pfanne_vs_Wok">
                        <img class="wok" src="../img/wok.jpg" alt="Wok_Bild" />
                    </div>
                    <div class="txt">
                        <p>
                            Na, hast du schon mal darüber nachgedacht, was passiert, wenn die
                            Pfanne und der Wok sich streiten? Die Pfanne sagt: „Ich bin die
                            Alleskönnerin, perfekt für Eier, Pfannkuchen und Braten!" Der Wok
                            kontert: „Na, klar, du bist vielseitig, aber ich bin der Meister im
                            Hoch-Hoch-Temperatur-Feuerwerk! Schnelles Anbraten, Wok-Schütteln
                            und asiatisches Flair - das kannst du nur träumen!" <br />
                            <br />
                            Am Ende sitzen sie zusammen in der Küche, lachen und denken: „Jeder
                            hat seine Stärken, aber gemeinsam bringen wir die Geschmacksknospen
                            zum Tanzen!" Ob Pfanne oder Wok – Hauptsache, das Essen wird lecker
                            und die Küche bleibt fröhlich!
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <!-- Footer-Bereich mit Scroll-to-Top Funktion -->
    <footer>
      <div class="footer">
        <div class="footer_logo">
          <a href="#" class="scroll-to-top">
            <img src="../img/logo_small_white.png" alt="Kochwelt Startseiten verlinkung" />
            <div class="Kochwelt_h3_footer_control">
              <h3>Kochwelt</h3>
            </div>
          </a>
        </div>
        <div class="social_logos half-width">
          <a href="https://www.facebook.com">
            <img class="social" src="../img/Facebook.png" alt="Facebook" />
          </a>
          <a href="https://www.instagram.com">
            <img class="social" src="../img/ins.png" alt="Instagram" />
          </a>
          <a href="https://x.com/">
            <img class="social" src="../img/twitter.png" alt="Twitter" />
          </a>
        </div>
      </div>
    </footer>

    <!-- JavaScript für Header-Menü -->
    <script src="../js/header.js"></script>
    
    <!-- JavaScript für Footer Scroll-to-Top -->
    <script src="../js/footer.js"></script>
</body>
</html>