.impressum-cnt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 32px;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 32px;  
}
.impressum-cnt p{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.impressum-cnt h1 {
    margin-bottom: 20px;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
h2 {
    margin-bottom: 8px;
}
h3 {
    margin-bottom: 8px;
    font-size: 18px;
}
.impressum-txt {
    margin-bottom: 8px;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
@media (max-width: 1150px) {
    .impressum-cnt {
        padding-top: 32px;
        padding-left: 120px;
        padding-right: 120px;
        padding-bottom: 32px;  
    }
}
@media (max-width: 768px) {
    .impressum-cnt {
        padding-top: 32px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 32px;
            
    }
    .impressum-cnt p {
    font-size: 16px;
}
    .control {
        text-align: center;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
}
