body {
    margin: 0;
    box-sizing: border-box;
    font-family: Raleway;
}

.impressum-cnt {
    padding: 64px;
    background-color: rgba(0, 0, 0, 0.05);
}

h1 {
    display: flex;
    justify-content: left;
    padding-top: 32px;
    padding-left: 165px;
    padding-bottom: 32px;
}

p {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}