body {
    margin: 0;
    box-sizing: border-box;
    font-family: Raleway;
}
.impressum-cnt {
    display: flex;
    justify-content: center;
    padding-top: 250px;
}
.impressum-cnt p{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;

}

p {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}